#onboarding{
  position: absolute;
  bottom: calc(4vw + 44px); /* toolbar height */
  bottom: 50%;
  transform: translateY(50%);
  left: 4vw;
  background: blue;
  border: 5px solid blue;
  color: white;
  width: 92vw;
  padding: 12vw;
}
#onboarding:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid white;
}
#onboarding a.x{
  background: white;
  text-align: center;
  text-decoration: none;
  color: blue;
  line-height: 8vw;
  width: 8vw;
  height: 8vw;
  position: absolute;
  top: 1px;
  right: 1px;
}
.onboarding a.x:hover{
  background: aqua;
  color: blue;
}

  #builder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#controls{
  width: 96vw;
  margin: 2vw;
}

#builder #zx{
  display: none;
}
  #bmx-art{
  width: 96vw;
  margin: 2vw;
  height:auto;
}
@media (min-aspect-ratio: 8/7) {
  #builder{
    flex-direction: row;
  }
  #bmx-art{
    width: 48vw;
    height: auto;
  }
  #controls{
    width: 48vw;
  }
}

ul.partsList,
ul.colours,
#partText{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 0;
  -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    text-align: center;
}
.partsList li{
  width: 20%;
  margin-bottom: .5em;
  font-size: 1.25em;
}
.partsList li a{
  display: block;
  background: blue;
  color: white;
  border: 1px solid #333333;
  text-decoration: none;
    padding: 0 .5em;
}
.partsList li a.unselected{
  opacity: 0.5;
  color: gray;
}
  .colours li{
  width: 20%;
  height: 8vw;
}
.colours li a{
  display: block;
  width: 100%;
  height: 100%;
  border: 1vw solid transparent;
}
.colours li a:hover{
  border: 1vw solid pink;
}
.bg-black a{background: black;}
.bg-white a{background: white;}
.bg-yellow a{background: yellow;}
.bg-orange a{background: orange;}
.bg-red a{background: red;}
.bg-pink a{background: pink;}
.bg-purple a{background: purple;}
.bg-blue a{background: blue;}
.bg-sky a{background: aqua;}
.bg-green a{background: green;}
.shop{
  text-align: center;
}
.shop a.btn{
  display: inline-block;
  background: aqua;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em;
  text-align: center;
  padding: .5em 1em;
  margin: 1em;
}
.st0{opacity: 0.25;}
.st1{fill:url(#SVGID_1_);}
.st2{fill:url(#SVGID_2_);}
svg a:hover{
  fill: rgba(255,0,0,0.25) !important;
  cursor: pointer;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
  text-align: center;
  width: 100%;
}


#partText{padding: 1em;}
